<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-inst..." xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web..." id="WebApp_ID" version="3.0">

	<servlet>
	
		<servlet-name>AddAdmin</servlet-name>
		<servlet-class>servlet.AddAdmin</servlet-class>
	
	</servlet>
	
	<servlet-mapping>
	
		<servlet-name>AddAdmin</servlet-name>
		<url-pattern>/addAdm</url-pattern>
	
	</servlet-mapping>
	
	<servlet>
	
		<servlet-name>ValidAdmin</servlet-name>
		<servlet-class>servlet.ValidAdmin</servlet-class>
	
	</servlet>
	
	<servlet-mapping>
	
		<servlet-name>ValidAdmin</servlet-name>
		<url-pattern>/logadm</url-pattern>
	
	</servlet-mapping>
	
	<servlet>
	
		<servlet-name>ReadAdmin</servlet-name>
		<servlet-class>servlet.ReadAdmin</servlet-class>
	
	</servlet>
	
	<servlet-mapping>
	
		<servlet-name>ReadAdmin</servlet-name>
		<url-pattern>/readAdm</url-pattern>
	
	</servlet-mapping>
	
	<servlet>
	
		<servlet-name>SingleView</servlet-name>
		<servlet-class>servlet.SingleView</servlet-class>
	
	</servlet>
	
	<servlet-mapping>
	
		<servlet-name>SingleView</servlet-name>
		<url-pattern>/singleView</url-pattern>
	
	</servlet-mapping>
	
	<servlet>
	
		<servlet-name>UpdateAdmin</servlet-name>
		<servlet-class>servlet.UpdateAdmin</servlet-class>
	
	</servlet>
	
	<servlet-mapping>
	
		<servlet-name>UpdateAdmin</servlet-name>
		<url-pattern>/updateadmin</url-pattern>
	
	</servlet-mapping>
	
	<servlet>
	
		<servlet-name>DeleteAdmin</servlet-name>
		<servlet-class>servlet.DeleteAdmin</servlet-class>
	
	</servlet>
	
	<servlet-mapping>
	
		<servlet-name>DeleteAdmin</servlet-name>
		<url-pattern>/deleteadmin</url-pattern>
	
	</servlet-mapping>
	
	<servlet>
	
		<servlet-name>Logout</servlet-name>
		<servlet-class>servlet.Logout</servlet-class>
	
	</servlet>
	
	<servlet-mapping>
	
		<servlet-name>Logout</servlet-name>
		<url-pattern>/logoutCus</url-pattern>
	
	</servlet-mapping>
	
	



