<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-inst..." xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web..." id="WebApp_ID" version="3.0">

	<servlet>
	
		<servlet-name>AddAdmin</servlet-name>
		<servlet-class>servlet.AddAdmin</servlet-class>
	
	</servlet>
	
	<servlet-mapping>
	
		<servlet-name>AddAdmin</servlet-name>
		<url-pattern>/addAdm</url-pattern>
	
	</servlet-mapping>
	
	<servlet>
	
		<servlet-name>ValidAdmin</servlet-name>
		<servlet-class>servlet.ValidAdmin</servlet-class>
	
	</servlet>
	
	<servlet-mapping>
	
		<servlet-name>ValidAdmin</servlet-name>
		<url-pattern>/logadm</url-pattern>
	
	</servlet-mapping>
	
	<servlet>
	
		<servlet-name>ReadAdmin</servlet-name>
		<servlet-class>servlet.ReadAdmin</servlet-class>
	
	</servlet>
	
	<servlet-mapping>
	
		<servlet-name>ReadAdmin</servlet-name>
		<url-pattern>/readAdm</url-pattern>
	
	</servlet-mapping>
	
	<servlet>
	
		<servlet-name>SingleView</servlet-name>
		<servlet-class>servlet.SingleView</servlet-class>
	
	</servlet>
	
	<servlet-mapping>
	
		<servlet-name>SingleView</servlet-name>
		<url-pattern>/singleView</url-pattern>
	
	</servlet-mapping>
	
	<servlet>
	
		<servlet-name>UpdateAdmin</servlet-name>
		<servlet-class>servlet.UpdateAdmin</servlet-class>
	
	</servlet>
	
	<servlet-mapping>
	
		<servlet-name>UpdateAdmin</servlet-name>
		<url-pattern>/updateadmin</url-pattern>
	
	</servlet-mapping>
	
	<servlet>
	
		<servlet-name>DeleteAdmin</servlet-name>
		<servlet-class>servlet.DeleteAdmin</servlet-class>
	
	</servlet>
	
	<servlet-mapping>
	
		<servlet-name>DeleteAdmin</servlet-name>
		<url-pattern>/deleteadmin</url-pattern>
	
	</servlet-mapping>
	
	<servlet>
	
		<servlet-name>Logout</servlet-name>
		<servlet-class>servlet.Logout</servlet-class>
	
	</servlet>
	
	<servlet-mapping>
	
		<servlet-name>Logout</servlet-name>
		<url-pattern>/logoutCus</url-pattern>
	
	</servlet-mapping>
	
	<!-- customer -->
	
	 <servlet>
     	<servlet-name>DriverInsertServlet</servlet-name>
     	<servlet-class>servlet.DriverInsertServlet</servlet-class>
     </servlet>
     <servlet-mapping>
     	<servlet-name>DriverInsertServlet</servlet-name>
     	<url-pattern>/driverinsertservlet</url-pattern>
     </servlet-mapping>
     
     
    <servlet>
     	<servlet-name>customerServlet</servlet-name>
     	<servlet-class>servlet.customerServlet</servlet-class>
     </servlet>
     <servlet-mapping>
     	<servlet-name>customerServlet</servlet-name>
     	<url-pattern>/customerservlet</url-pattern>
     </servlet-mapping>
     
     
     <servlet>
     	<servlet-name>customerInsert</servlet-name>
     	<servlet-class>servlet.customerInsert</servlet-class>
     </servlet>
     <servlet-mapping>
     	<servlet-name>customerInsert</servlet-name>
     	<url-pattern>/customerinsert</url-pattern>
     </servlet-mapping>
     
     
      <servlet>
     	<servlet-name>updateCustomerServlet</servlet-name>
     	<servlet-class>servlet.updateCustomerServlet</servlet-class>
     </servlet>
     <servlet-mapping>
     	<servlet-name>updateCustomerServlet</servlet-name>
     	<url-pattern>/updatecustomerservlet</url-pattern>
     </servlet-mapping>
     


	 <servlet>
     	<servlet-name>deleteCustomerServlet</servlet-name>
     	<servlet-class>servlet.deleteCustomerServlet</servlet-class>
     </servlet>
     <servlet-mapping>
     	<servlet-name>deleteCustomerServlet</servlet-name>
     	<url-pattern>/deletecustomerservlet</url-pattern>
     </servlet-mapping>
     
     
     <servlet>
     	<servlet-name>paymentServlet</servlet-name>
     	<servlet-class>servlet.paymentServlet</servlet-class>
     </servlet>
     <servlet-mapping>
     	<servlet-name>paymentServlet</servlet-name>
     	<url-pattern>/paymentservlet</url-pattern>
     </servlet-mapping>
     
     <servlet>
     	<servlet-name>customerRead</servlet-name>
     	<servlet-class>servlet.customerRead</servlet-class>
     </servlet>
     <servlet-mapping>
     	<servlet-name>customerRead</servlet-name>
     	<url-pattern>/customerread</url-pattern>
     </servlet-mapping>
     
     <!-- customer -->
     
     <!-- vehicle owner -->
     
     <servlet>
		<servlet-name>AddOwner</servlet-name>
		<servlet-class>servlet.AddOwner</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>AddOwner</servlet-name>
		<url-pattern>/addowner</url-pattern> <!-- give unique name -->
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>login</servlet-name>
		<servlet-class>servlet.login</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>login</servlet-name>
		<url-pattern>/cuslog</url-pattern> <!-- give unique name -->
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>singleDataButton</servlet-name>
		<servlet-class>servlet.singleDataButton</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>singleDataButton</servlet-name>
		<url-pattern>/singlebutton</url-pattern> <!-- give unique name -->
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>UpdateOwner</servlet-name>
		<servlet-class>servlet.UpdateOwner</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>UpdateOwner</servlet-name>
		<url-pattern>/updateown</url-pattern> <!-- give unique name -->
	</servlet-mapping>
	
	<servlet>
		<servlet-name>DeleteOwner</servlet-name>
		<servlet-class>servlet.DeleteOwner</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>DeleteOwner</servlet-name>
		<url-pattern>/deleteown</url-pattern> <!-- give unique name -->
	</servlet-mapping>
	
	<servlet>
		<servlet-name>addVehicle</servlet-name>
		<servlet-class>servlet.addVehicle</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>addVehicle</servlet-name>
		<url-pattern>/addvehi</url-pattern> <!-- give unique name -->
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>addVehicles</servlet-name>
		<servlet-class>servlet.addVehicles</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>addVehicles</servlet-name>
		<url-pattern>/vehiadmin</url-pattern> <!-- give unique name -->
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>vehicleDataButton</servlet-name>
		<servlet-class>servlet.vehicleDataButton</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>vehicleDataButton</servlet-name>
		<url-pattern>/vehiclebutton</url-pattern> <!-- give unique name -->
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>adminVehicle</servlet-name>
		<servlet-class>servlet.adminVehicle</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>adminVehicle</servlet-name>
		<url-pattern>/vehiadminn</url-pattern> <!-- give unique name -->
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>updateVehicle</servlet-name>
		<servlet-class>servlet.updateVehicle</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>updateVehicle</servlet-name>
		<url-pattern>/updatevehi</url-pattern> <!-- give unique name -->
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>deleteVehicle</servlet-name>
		<servlet-class>servlet.deleteVehicle</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>deleteVehicle</servlet-name>
		<url-pattern>/deletevehi</url-pattern> <!-- give unique name -->
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ownerRead</servlet-name>
		<servlet-class>servlet.ownerRead</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ownerRead</servlet-name>
		<url-pattern>/ownerread</url-pattern> <!-- give unique name -->
	</servlet-mapping>
	
	<!-- vehicle owner -->
	
	<!-- staff -->
	
	<servlet>
		<servlet-name>addStaff</servlet-name>
		<servlet-class>servlet.addStaff</servlet-class>
	</servlet>
	
	<servlet-mapping>
	
		<servlet-name>addStaff</servlet-name>
		<url-pattern>/addstf</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>staffLogin</servlet-name>
		<servlet-class>servlet.staffLogin</servlet-class>
	</servlet>
	
	<servlet-mapping>
	
		<servlet-name>staffLogin</servlet-name>
		<url-pattern>/logstf</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>addMessage</servlet-name>
		<servlet-class>servlet.addMessage</servlet-class>
	</servlet>
	
	<servlet-mapping>
	
		<servlet-name>addMessage</servlet-name>
		<url-pattern>/addmessage</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>displayMessage</servlet-name>
		<servlet-class>servlet.displayMessage</servlet-class>
	</servlet>
	
	<servlet-mapping>
	
		<servlet-name>displayMessage</servlet-name>
		<url-pattern>/dismessage</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>staffUpdate</servlet-name>
		<servlet-class>servlet.staffUpdate</servlet-class>
	</servlet>
	
	<servlet-mapping>
	
		<servlet-name>staffUpdate</servlet-name>
		<url-pattern>/updtstf</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>staffRead</servlet-name>
		<servlet-class>servlet.staffRead</servlet-class>
	</servlet>
	
	<servlet-mapping>
	
		<servlet-name>staffRead</servlet-name>
		<url-pattern>/staffread</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>deleteStaff</servlet-name>
		<servlet-class>servlet.deleteStaff</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>deleteStaff</servlet-name>
		<url-pattern>/deletestaff</url-pattern> <!-- give unique name -->
	</servlet-mapping>
	
	<!-- staff -->
	
</web-app>	



